html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
  }
  
  .page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  