<div class="footer">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div> <div class="col-md-10"><hr class="line-footer"></div></div> <div class="col-md-1"></div>
        </div>
        
        <div class="row">
            <div class="col-md-3 text-center">
                <p>&copy; 2023 Copyright</p>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-2">
                <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
                    <li><a href="https://medium.com/@gabri-albini" class="text-dark"><i class="fa-brands fa-medium me-3 fa-1x"></i></a></li>
                    <li><a href="https://github.com/gabri-al" class="text-dark"><i class="fa-brands fa-github me-3 fa-1x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/gabriele-albini-85100549/" class="text-dark"><i class="fa-brands fa-linkedin me-3 fa-1x"></i></a></li>
                </ul>
            </div>
        </div>

    </div>

</div>